.blog-post {
    height: 50%;
    width: 100%;
    font-family: fantasy;
}


#title {
font-weight: bold;

}

#content {
    
}

.delete {
 display: flex;
justify-self: flex-end;
justify-content: center;
width: 10%;;
  background-color: #c1164f;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}